/*figcaption{
    font-family: var(--font-open-sans);
    font-size: 10px;
    font-style: italic;
    font-weight: 300;
    line-height: 14px;
} */

.article_start{

}

.article_start__titre{

}

.article_start__intro{

}

.premiere_image__article{
    
}